<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF=8" />
    <meta http-equiv="X-UA-Compatible" content="chrome" />
    <meta name="viewport" content="width=divice-width, initial-scale=1.0" />
    <title>login 성공</title>
    <script src="/javascript/cookies.js"></script>
</head>

<body>
    <h1>Login Succes</h1>
    <div>[ID] : <%=id%> [Name] : <%=userName%> [Role] : <%= role %>
    </div>
    <div>[accessKey] : <%= accessKey %>, [refreshKey] : <%= refreshKey %>
    </div>
    <a href="/process/example">Move</a>
</body>

</html>